.counter {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.counter > span {
  font-size: 46px;
}

.counter button {
  padding: 0.75rem;
  background-color: rebeccapurple;
  color: #fff;
  border: 0;
  border-radius: 6px;
  min-height: 3.5rem;
  min-width: 14rem;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  font-size: 1.75rem;
  margin: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counter button:hover {
  background-color: rgba(102, 51, 153, 0.6);
}

.counter > .counter__buttons {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
